


<table style="border:1px solid red; width:100%; text-align:center; height:100px; background-color:aliceblue;">
    <tr>
        <td style="border:1px solid red; width:15%;">
            <img src="/images/facebook-logo.png" style="width:30%;"></img>
        </td>
        <td style="border:1px solid red; width:70%;">
            <a style="text-decoration:none; color:lightslategray" href="/product/getAllTableProducts">Products</a>|
            <a style="text-decoration:none; color:lightslategray" href="/category/getAllTableCategories">Categories</a>|
            <a style="text-decoration:none; color:lightslategray" href="/user/SearchForm">Search Users</a>
        </td>
        <td style="border:1px solid red; width:15%;">
            <a style="text-decoration:none; color:lightslategray" href="/login/loginform">LogIn</a>/
            <a style="text-decoration:none; color:lightslategray" href="#">Register</a>
        </td>
    </tr>
</table>
