@model IEnumerable<WebApp.Models.Product>

<!--Displaying ProductList through a loop
    IEnumerable is an interface of list
-->
@foreach(Product product in Model)
{

    <div>Product ID:  @product.ID</div>
    <div>Product Name: @product.Name</div>
    <div>Product Quantity @product.Quantity</div>

}