@model WebApp.Models.Product

<div style="padding-left: 100px; color:red;">
    <h1>Products</h1>
</div>
<div>Product ID: @Model.ID</div>
<div>Product Name: @Model.Name</div>
<div>Product Quantity: @Model.Quantity</div>
<div>Image photo: <img src="/images/jeans.png"/></div>
<div><a href="/product/getalltableproducts">Go back to product page</a></div>
