@model IEnumerable<WebApp.Models.Category>

<!--Displaying CategoryList through a loop
    IEnumerable is an interface of list
-->
@foreach(Category category in Model)
{
    <div>Category ID: @category.Category_ID</div>
    <div>Category Name: @category.Category_Name</div>
    <div>Category Description: @category.Category_Description</div>
}

