@model WebApp.Models.Category

<div style="padding-left:100px; color:red;"><h1>Category</h1></div>
<div>Category ID: @Model.Category_ID</div>
<div>Category Name: @Model.Category_Name</div>
<div>Category Description: @Model.Category_Description</div>
<div>Image photo: <img src="/images/jeans.png"/></div>
<div><a href="/category/getalltablecategories">Return to categories</a></div>